body{
  margin:0;
  position:relative;
  height:100%;
}

#weather{
  background-color:#2980b9;
  height:100%;
}


#searchbox{
  width:90%;
  height:130px;
  background-color:#2ecc71;
  position:relative;
  margin:auto;
  border-radius:5px;
  border:0.5px solid #fff;
}

@media (min-width:650px){
  #searchbox{
  width:675px;
  height:130px;
  background-color:#2ecc71;
  position:relative;
  margin:auto;
  border-radius:5px;
  border:0.5px solid #fff;
}
}

#search{
  position:relative;
  top:45px;
  left:15px;
  margin:auto;
  height:30px;
  width:65%;
  border-radius:5px;
  padding-left:10px;
  line-height:1.5rem;
}

#searchbutton{
  position:relative;
  top:45px;
  left:25px;
  margin:auto;
  height:30px;
  width:25%;
  padding-left:10px;
 }

@media (max-width:650px){
  .conta2{
    padding-bottom: 200px;
  }
  #place{
    padding-top: 40px;
  }
}

.conta{
  height: 25vh;
}

.conta > h1{
  position:relative;
  top:40px;
  color:#fff;
  font-size:65px;
  letter-spacing: 0.35rem;
  font-family: 'Maven Pro', sans-serif;
}

#place{
  color:#fff;
  font-size:32px;
  letter-spacing: 0.3rem;
}

#temp > p,#wind > p, #Weather > p{
  color: #fff;
  font-size:32px;
}

#temp > h3 , #Weather > h3{
  color: #fff;
  font-size:25px;
}

#wind > h3{
  color:#fff;
  font-size:18px;
}

p{
  margin-bottom: 0;
}

.jumbotron{
  padding-top: 0px;
  padding-bottom: 20px;
  margin-bottom: 0rem;
}
